/* type selectors */
article, aside, figure, figcaption, footer, header, nav, section, img {
    display: block;
}

body {
    background-color: #FFFFCC;
    margin-top: 50px;
	font-family: Papyrus, fantasy;
}

header {
    font-size: 125%;
    padding: 20px;
    background-color: #FFFFCC;
    background-image: linear-gradient(to left, #FFFFCC, #0099CC);
}

section h2 {
  background-color: #CC9966;
  width: 100%;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
}

aside {
	margin: 50px 20px 10px 0;
}

section {
	padding: 15px 25px;
}

ul {
	padding-left: 45px;
}

li {
    width: 90%;
    margin: 5px;
    padding: 5px;
    padding-bottom: .25em;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #66CCCC;
    
}

.menu-item {
    font-size: 120%;
	cursor: pointer;
    color: chocolate;
}

.hide {
	display: none;
}

.specialItem {
    font-size: 14px;
    color: chocolate;
}

#newsletterEntry {
    float: left;
    max-width: 300px
}

#aside-image {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #66CCCC;
}